@import url('https://fonts.googleapis.com/css2?family=Concert+One:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
html{
    height: 100%;
}


h2{
    text-align: left;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 153, 0);
    font-size: 2em;
}

h4{
    color: rgb(255, 153, 0);
    font-size: 2em;
    text-align: left;
    padding: .5em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}
body{
    background: grey;
    
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header h1{
    color: rgb(170, 255, 0);
    padding: 0% 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-whether{
    text-align: right;
    margin: 1em;
}
#input{
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: aliceblue;
}
#search{
    background: none;
    padding: 5px 20px;
    color: aliceblue;
    outline: none;
    background: rgb(255, 153, 0);
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.weather{
    text-align: center;
    color: aliceblue;
}
#city{
    color: rgb(255, 153, 0) ;
    font-size: 30px;
}
.weather img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(240, 248, 255, 0.408);
}
#temperature{
    font-size: 50px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
}
.temp-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
#clouds{
    font-size: 20px;
    background: rgba(153, 205, 50, 0.778);
    padding: 2px 20px;
    border-radius: 15px;
}
main{
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 5px 1fr;
    align-items: center;
    margin: 0 50px;
    color: white;
}
.next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.next p,.next h3{
    margin: 3px 0;
}
.forecstD{
    margin: 20px 50px;
    color: aliceblue;
}
.weekF{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.cast-header{
    color: aliceblue;
    background: rgb(255, 153, 0);
    width: max-content;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 5px;
}
.divider1,.divider2{
    background: rgba(254, 189, 132, 0.539);
    height: 200px;
    border-radius: 5px;
}
.divider2{
    height: 5px;
    width: 30%;
    margin: 0 auto;
}
.time,.date{
    color: rgb(254, 189, 132);
}
.desc{
    color: rgb(170, 255, 0);
}

.inputwether{
    padding: 1em;
    text-align: right;
}

#image{
    
    margin: .5em;
    border: solid .5em;
    border-color: grey;
    border-radius: 1%;
    
}
.images1{
    
    display: flex;
    justify-content: space-between;
    

}
#para{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: .5%;
}
.bottom-container{
    text-align: center;
    background-color: darkgrey;
}

.hellokrushik{
    background-color: darkgrey;
}